In [22]:
import pandas as pd

col_names = ['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 
             'Other_Sales', 'Global_Sales']

In [23]:
# Загружаем данные из dataset.csv в DataFrame

df = pd.read_csv('dataset.csv', names=col_names, skiprows=1)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [24]:
# Выводим заданное количество идущих подряд строк из любой 
# заданной позиции датафрейма.

def get_part(df, start, count):
    return df.iloc[range(start, start + count)]

get_part(df, 500, 10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
500,501,Call of Duty: Finest Hour,PS2,2004.0,Shooter,Activision,1.51,1.12,0.01,0.24,2.89
501,502,Zumba Fitness 2,Wii,2011.0,Sports,Majesco Entertainment,1.54,1.07,0.00,0.28,2.88
502,503,Syphon Filter,PS,1999.0,Shooter,Sony Computer Entertainment,2.03,0.72,0.02,0.11,2.88
503,504,Imagine: Babyz,DS,2007.0,Simulation,Ubisoft,1.30,1.27,0.00,0.31,2.88
504,505,Colin McRae Rally,PS,1998.0,Racing,Codemasters,0.09,2.43,0.12,0.22,2.87
505,506,Call of Duty: Ghosts,XOne,2013.0,Shooter,Activision,1.87,0.77,0.00,0.22,2.86
506,507,Madden NFL 13,X360,2012.0,Sports,Electronic Arts,2.53,0.16,0.00,0.17,2.86
507,508,The Elder Scrolls III: Morrowind,XB,2002.0,Role-Playing,Ubisoft,2.09,0.63,0.03,0.11,2.86
508,509,Mortal Kombat,PS3,2011.0,Fighting,Warner Bros. Interactive Entertainment,1.98,0.55,0.00,0.32,2.85
509,510,F-Zero,SNES,1990.0,Racing,Nintendo,1.37,0.51,0.89,0.07,2.85

In [25]:
# находим все уникальные жанры 

genres = pd.unique(df['Genre'])
print(genres)

['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy']

In [26]:
# разделяем загруженный датафрейм по жанровым датафреймам

frame = {}
for g in genres:
    frame[g] = df[df['Genre'] == g]

frame['Shooter']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
31,32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
...,...,...,...,...,...,...,...,...,...,...,...
16501,16504,"Transformers: War for Cybertron (XBox 360, PS3...",PC,2010.0,Shooter,Activision,0.01,0.00,0.00,0.00,0.01
16569,16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.00,0.00,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01

In [27]:
# Упорядочиваем строки по возрастанию значений в столбце Year

frame2 = {}
for g in genres:
    frame2[g] = frame[g].sort_values('Year')
frame2['Shooter']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
544,545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
258,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
5400,5402,Carnival,2600,1981.0,Shooter,Coleco,0.32,0.02,0.00,0.00,0.34
1429,1431,Centipede,2600,1981.0,Shooter,Atari,1.26,0.08,0.00,0.01,1.36
2806,2808,Berzerk,2600,1981.0,Shooter,Atari,0.68,0.04,0.00,0.01,0.73
...,...,...,...,...,...,...,...,...,...,...,...
14999,15002,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0.00,0.00,0.02,0.00,0.02
15197,15200,Saint,Wii,NaN,Shooter,Unknown,0.02,0.00,0.00,0.00,0.02
15717,15720,Without Warning,XB,NaN,Shooter,Capcom,0.01,0.00,0.00,0.00,0.02
16229,16232,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01

In [28]:
# в каждом из полученных жанровых датафреймов производим 
# переиндексацию по возрастанию индекса не меняя порядок строк

frame3 = {}
for g in genres:
    frame3[g] = frame2[g].reset_index()
    
frame3['Shooter']

,index,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,544,545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
1,258,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
2,5400,5402,Carnival,2600,1981.0,Shooter,Coleco,0.32,0.02,0.00,0.00,0.34
3,1429,1431,Centipede,2600,1981.0,Shooter,Atari,1.26,0.08,0.00,0.01,1.36
4,2806,2808,Berzerk,2600,1981.0,Shooter,Atari,0.68,0.04,0.00,0.01,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...
1305,14999,15002,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0.00,0.00,0.02,0.00,0.02
1306,15197,15200,Saint,Wii,NaN,Shooter,Unknown,0.02,0.00,0.00,0.00,0.02
1307,15717,15720,Without Warning,XB,NaN,Shooter,Capcom,0.01,0.00,0.00,0.00,0.02
1308,16229,16232,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
1309,16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01

In [29]:
# Сохраняем жанровые датафреймы в csv-файлы

for g in genres:
    frame3[g].to_csv(g+'.csv')